<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline'">
    <script src="./js/angular.min.js"></script>
    <link rel="stylesheet" href="./bootstrap513/css/bootstrap.css">
    <link rel="stylesheet" href="./bootstrap513/css/bootstrap-icons.css">
    <link rel="stylesheet" href="./css/myToolTip.css">
    <link href="./styles.css" rel="stylesheet">
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="./bootstrap513/js/bootstrap.js"></script>
    <title>Hello Worlds!</title>
  </head>
  <body>     
    <div class="container" style="margin-bottom: 100px;">
      
      
      
      <div ng-app="myApp" ng-controller="personCtrl" ng-init="init()">

        <div class="" >
          <img src="banner.png" alt="" style="width: 100%;">          
        </div>
        <!-- <p class="lead" style="text-align: center;">
          Automatic Backup Utility
        </p> -->
        
        <!-- <div class="alert alert-danger alert-dismissible fade show" role="alert">
          {{windowError}}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
        </div> -->



        <br>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Backup Source</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Backup Destination</button>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          
          <!-- tab 1 Sources -->
          <div class="tab-pane fade show active " id="home" role="tabpanel" aria-labelledby="home-tab">
            <br>
            <div>  
              <!-- Sources List Control           -->
              <div class="">          
            
                <!-- Modal -->
                <div style="padding: 0px;margin-top: 10px;">
                  <!-- Button trigger modal -->
                  <button ng-click="openModal()" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="margin: 5px;">
                    Add Backup Source
                  </button>
                  <button ng-click="startBackup()" type="button" class="btn btn-outline-primary" style="margin: 5px;" >
                    Start Backup
                  </button>
                  
      
                  <!-- Modal -->
                  <div  class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog" style="max-width: 800px;">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Add New Backup Source</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <!-- Add new backup source -->                    
                            <div>    
                                                              
                              <div class="input-group mb-3" id="mySource1">               
                                <input id="filePath" value="{{currsource.folderPath}}" type="text" class="form-control" placeholder="Path of Folder to be Copied" aria-label="Path of Folder to be Copied" aria-describedby="button-addon2">
                                <div class="myTooltip">
                                  <button class="btn btn-outline-secondary" type="button" id="myFolder" ng-click="openDialog()">Choose Folder</button>
                                  <span class="myTooltiptext">test</span>
                                </div>                              
                              </div>          
                              <!-- Folder Summary -->
                              <div class="col  p-3 border" >
                                
                                  <div style="text-align: center;" id="folderSummaryLoading">
                                    <div class="spinner-grow text-primary" role="status" style="width: 1rem; height: 1rem;">                  
                                    </div>
                                    <span class="sr-only">Fetching Folder Details</span>
                                  </div>
                                <div id="noFolderSelected" ng-if="currsource.folderPath==''" style="text-align: center;">
                                  No Folder Selected
                                </div>  
                                <div ng-style="cssSummary">
                                  <div id="folderSummaryDetails"> 
                                    <div class="mb-3 row">
                                      <b class="col-sm-3">Folder Path</b>
                                      <div class="col-sm-9">
                                        {{currsource.folderPath}}
                                      </div>
                                    </div>
                                    <div class="mb-3 row">
                                      <b class="col-sm-3">Folder Size</b>
                                      <div class="col-sm-9">
                                        {{currsource.folderSize}}
                                      </div>
                                    </div>  
                                    <div class="mb-3 row">
                                      <b class="col-sm-3">Total Files</b>
                                      <div class="col-sm-9">
                                        {{currsource.toltalFiles}}
                                      </div>
                                    </div>                
                                  </div>
                                </div>
                              </div>
                            </div>
                          
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="closeModal()">Close</button>
                          <button type="button" class="btn btn-primary" ng-click="addSourceFolder()" data-bs-dismiss="modal">Add</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Sources List View                 -->
              <div class="">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Sr.</th>
                      <th scope="col">Folder Path</th>
                      <th scope="col">Last Backup</th>                
                      <th scope="col">Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="x in mySources" class="mySourcesRow">
                      <th scope="row">{{$index + 1}}</th>
                      <td style="width: 50%;">                        
                        {{x.folderPath}}
                      </td>
                      <td> 
                        <div style="display: inline-block;" ng-if='x.isBackingUp==1'>
                          <div  class="spinner-grow text-primary" role="status" style="width: 1rem; height: 1rem;"></div> 
                          Backing Up 
                          <span><b>D </b><span style="color: darkgreen;">{{x.StatusSummary.currDestCount}}</span></span>
                          <span><b>F </b><span style="color: darkgreen;">{{x.StatusSummary.currSourceFileCount}} of {{x.StatusSummary.currSourceFileTotalCount}}</span></span>
                          <span><b>P </b><span style="color: darkgreen;">{{x.StatusSummary.currFileProgress}}</span></span>

                            <!-- currDestCount:              status.currDest.currCount,
                    currSourceFileCount:        status.currSourceFile.currCount,
                    currSourceFileTotalCount:   status.currSourceFile.totalCount,
                    currFileProgress:           status.currFileProgress.percentage.toFixed(1)                -->
                        </div>
                        <div ng-if='x.isBackingUp==0 && x.lastBackupDate!="Source Offline"' style="display: inline-block;font-size: small;">{{x.lastBackupDate}}</div>
                        <div ng-if='x.isBackingUp==0 && x.lastBackupDate=="Source Offline"' style="display: inline-block;font-size: small;color: red;">{{x.lastBackupDate}}</div>
                      </td>                
                      <td style="position: relative;">
                        <a href="#" ng-click="myLoadSummary(x,$index)" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                            <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                          </svg>
                        </a> 
                        <a style="position:absolute;" class="mySourcesRemove" ng-click="removeSourceFolder(x,$index)">
                          <button class="btn btn-danger">X</button>
                        </a>                 
                      </td>              
                    </tr>
                               
                  </tbody>
                </table>
                <div>
                  <span style="font-weight: bold;">Note: </span>
                  <span style="font-size: smaller;">{{backupShedule}}</span>  
                </div>  
              </div>
            </div>
          </div>

          <!-- tab 2 Destinations -->
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div> 
              <br> 
              <!-- Sources List Control           -->
              <div class="p-3 border">                 
                <!-- Modal -->
                <div style="padding: 0px;margin-top: 10px;">
                  <!-- Button trigger modal -->
                  <button ng-click="" type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropDest" style="margin: 5px;">
                    Add Destination
                  </button>
                  <button ng-click="resetDefaultDest()" type="button" class="btn btn-outline-primary" style="margin: 5px;">
                    Defaults
                  </button>
      
                  <!-- Modal -->
                  <div  class="modal fade" id="staticBackdropDest" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropDestLabel" aria-hidden="true">
                    <div class="modal-dialog" style="max-width: 800px;">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropDestLabel">Add New Backup Destination</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <!-- Add new backup source -->                    
                            <div>
                              <div class="mb-3 row">
                                <label for="destinationAlias" class="col-sm-4 col-form-label">Destination Alias</label>
                                <div class="col-sm-8">
                                  <input type="text" class="form-control" id="destinationAlias" placeholder="Enter alias for destination folder" ng-model="currDest.folderAlias">
                                </div>
                              </div>                                        
                              <div class="input-group mb-3" id="myDest1">               
                                <input id="filePath" value="{{currDest.folderPath}}" type="text" class="form-control" placeholder="Path of Folder to be Copied" aria-label="Path of Folder to be Copied" aria-describedby="button-addon2">
                                <div class="myTooltip">
                                  <button class="btn btn-outline-secondary" type="button" id="myFolder" ng-click="openDialogDest()">Choose Folder</button>
                                  <span class="myTooltiptext">{{currDest.folderPath}}</span>
                                </div>                              
                              </div>                            
                            </div>                          
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="resetDestDialog()">Close</button>
                          <button type="button" class="btn btn-primary" ng-click="addDestinationFolder()" data-bs-dismiss="modal">Add</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Destination List View                 -->
              <div class="">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Sr.</th>
                      <th scope="col">Folder Alias</th> 
                      <th scope="col">Folder Path</th> 
                      <th scope="col">Status</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="x in myDest" class="myDestRow" style="position: relative;;">
                      <th scope="row">{{$index + 1}}</th>
                      <td>                        
                        {{x.folderAlias}}
                      </td>  
                      <td>                        
                        {{x.folderPath}}
                        <a style="position:absolute;" class="myDestRemove" ng-click="removeDestFolder(x,$index)">
                          <button class="btn btn-danger">X</button>
                        </a> 
                      </td>
                      <td>   
                        
                        <span ng-if="x.status=='Online'" style="color: green">{{x.status}}    </span>
                        <span ng-if="x.status=='Disk Full'" style="color: red">  {{x.status}} </span>      
                        <span ng-if="x.status=='Offline'" style="color: red">  {{x.status}}   </span>                                         
                      </td>                                  
                    </tr>             
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>



        
        <div class="row">         
          <!-- Modal -->
          <div style="padding: 0px;margin-top: 10px;">
            <!-- Modal -->
            <div  class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdrop1Label" aria-hidden="true">
              <div class="modal-dialog" style="max-width: 500px;">
        
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdrop1Label">Summary</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <!-- Add new backup source -->                    
                      <div> 
                        <div class="mb-3 row">
                          <b class="col-sm-5">Folder Path</b>
                          <div class="col-sm-7">
                            {{myActiveSummary.folderPath}}
                          </div>
                        </div>

                        <div class="mb-3 row">
                          <b class="col-sm-5">Total Files</b>
                          <div class="col-sm-7">
                            {{myActiveSummary.toltalFiles}}
                          </div>
                        </div>
                        
                        <div class="mb-3 row">
                          <b class="col-sm-5">Folder Size</b>
                          <div class="col-sm-7">
                            {{myActiveSummary.folderSize}}
                          </div>
                        </div>

                        <div class="mb-3 row">
                          <b class="col-sm-5">Last BackupDate</b>
                          <div class="col-sm-7">
                            {{myActiveSummary.lastBackupDate}}
                          </div>
                        </div>                         
        
                      </div>
                    
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" ng-click="myUnLoadSummary()">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>     


        
        <!-- carousel -->
        <div ng-if="carousal" style="position: fixed;width: 100%;height: 100%; top: 50%; left:50%; transform: translate(-50%, -50%); z-index: 100;background-color:whitesmoke;">
          <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel" style="width: 100% ;height: 100%;" data-bs-interval="false">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner" style="width: 80%;margin: auto;">
              <div class="carousel-item active" >
                <img src="myLibraries/pictures/1.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <!-- <h5>First slide label</h5>
                  <p>Some representative placeholder content for the first slide.</p> -->
                </div>
              </div>
              <div class="carousel-item" >
                <img src="myLibraries/pictures/2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <!-- <h5>Second slide label</h5>
                  <p>Some representative placeholder content for the second slide.</p> -->
                </div>
              </div>
              <div class="carousel-item" id="myLastCarousel">
                <img src="myLibraries/pictures/3.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                  <!-- <h5>Third slide label</h5>
                  <p>Some representative placeholder content for the third slide.</p> -->
                </div>
              </div>
              <button ng-if="!showCarouselSkip" ng-click="carouselNext()" class="btn btn-primary text-center" style="bottom: 5%;display: block; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; width: 20%;" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                Next
               </button>
               <button ng-if="showCarouselSkip" ng-click="hideCarousal()" class="btn btn-primary text-center" style="bottom: 5%;display: block; position: absolute; margin-left: auto; margin-right: auto; left: 0; right: 0; width: 20%;" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                Skip
               </button>

               
            </div>
            <!-- <button class="btn btn-primary" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">              
             Previous
            </button> -->
            <div style="width: 100%;text-align: center;margin-bottom: 20%;">              
               <button class="btn btn-danger text-center" style="position: absolute;display: block;  right: 10px; top:10px; background-color: transparent;color: black;" ng-click="hideCarousal()">
                 X
                </button>
            </div>

          </div>
        </div>

            <!-- backup report model -->
        <div class="modal fade" id="dataReportModal" tabindex="-1" aria-labelledby="dataReportModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content" style="font-size: smaller;">
              <div class="modal-header">
                <h5 class="modal-title" id="dataReportModalLabel">Backup report</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
              </div>
              <div class="modal-body">
                <div>
                  <div style="width: 49%;display: inline-block;vertical-align: top;">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Source Path</th>
                          <th scope="col">Status</th>                    
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="(key, value) in backupReportSourcesStatus" class="mySourcesRow">                    
                          <td style="width: 70%; ">                        
                            {{key}}
                          </td>
                          <td> 
                            <div ng-if="value=='online'" style="color: green;">{{value}}</div> 
                            <div ng-if="value!='online'" style="color: red;">{{value}}</div>
                          </td>                               
                        </tr>
                                  
                      </tbody>
                    </table>
                  </div>
                  <div style="width: 49%;display: inline-block;vertical-align: top;">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th scope="col">Destination Path</th>
                          <th scope="col">Status</th>                    
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="(key, value) in backupReportDestinationStatus" class="mySourcesRow">                    
                          <td style="width: 70%;">                        
                            {{key}}
                          </td>
                          <td>
                            <div ng-if="value=='online'" style="color: green;">{{value}}</div> 
                            <div ng-if="value!='online'" style="color: red;">{{value}}</div>
                            
                          </td>                               
                        </tr>
                                  
                      </tbody>
                    </table>
                  </div>  
                </div>         

                <div>
                  <div class="card" >
                    <div class="card-header">
                      <b>Space Requirement</b>
                    </div>
                    <div class="card-body">
                      <table class="table table-hover" >
                        <thead>
                          <tr>
                            <th scope="col">Disk Name</th>
                            <th scope="col">Free Space</th>   
                            <th scope="col">Used Space</th>
                            <th scope="col">Required Space</th>
                            <th scope="col">Destination Path</th>                          
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="x in formattedSizeReport" class="mySourcesRow">                    
                            <td style="width: 15%;">                        
                              {{x.diskName}}
                            </td>
                            <td>                        
                              {{x.freeSpace}}
                            </td>  
                            <td>                        
                              {{x.usedSpace}}
                            </td>
                            <td>                        
                              {{x.requiredSpace}}
                            </td>
                            <td>                        
                              {{x.destPath}}
                            </td>                             
                          </tr>                                    
                        </tbody>
                      </table>
                      
                    </div>
                  </div>
                </div>


                <div>
                  <div class="card" ng-repeat="x in backupReportCopied">
                    <div class="card-header">
                      <b>{{x.destPath.folderPath}}</b>
                    </div>
                    <div class="card-body">

                      <table class="table table-hover" >
                        <thead>
                          <tr>
                            <th scope="col">Source Path</th>
                            <th scope="col">Status</th>                    
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="y in x.sources" class="mySourcesRow">                    
                            <td style="width: 70%;">                        
                              {{y}}
                            </td>
                            <td>                        
                              Copied
                            </td>                               
                          </tr>                                    
                        </tbody>
                      </table>                      
                    </div>
                  </div>
                </div>

                <b>Copy Logs</b>
                <div>
                  <div class="overflow-scroll" style="height: 200px;">
                    <div ng-repeat="x in backupReportCopied">
                      <ul ng-repeat="y in x.fileCopyStatus">
                        <li ng-repeat="z in y">

                          <span ng-if="containString(z[0])=='error'" style="color: red;"> {{z[0]}}</span>
                          <span ng-if="containString(z[0])=='synced'" style="color: rgb(0, 52, 0);"> {{z[0]}}</span>
                          <span ng-if="containString(z[0])!='synced' && containString(z[0])!='error'" style="color: black;"> {{z[0]}}</span>
                         
                        </li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
              <div class="modal-dataReport">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>


        
      </div>

      


    </div>
    
    <footer class="text-center text-lg-start bg-light text-muted" style="position: fixed;width: 100%;bottom:0px">
      <!-- Copyright -->
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        
        <!-- Button trigger Footer modal -->
        <a  data-bs-toggle="modal" data-bs-target="#footerModal" href="#">
          051-9321086
        </a>

        


      </div>
      <!-- Copyright -->
    </footer> 
    <!-- Footer Modal -->
    <div class="modal fade" id="footerModal" tabindex="-1" aria-labelledby="footerModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="footerModalLabel">Realease Information</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img src="myLibraries/beta launch.png" alt="Beta Launch" style="width:100%; height:100%;">
            <div>This is the BETA launch of HARVEST. Any bug or malfunction of this app may be reported at DGD 051-9321086</div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!-- You can also require other files to run in this process -->


    





    <script src="./renderer.js"></script>
    <script src="./js/myModule.js"></script>
    
  </body>
</html>










